<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <!-- <form action="">
        <select name="as" id="sd" value="2">
            <option value="1">苹果</option>
            <option value="2">问问</option>
            <option value="3">试试</option>
        </select>
    </form> -->
    <br>
    {{string}}
    <div id="vue">
        {{string}}
        <br>
        {{name,age}}
        <br>
        {{111}}
        {{obj}}
        {{obj.name}}
        <br>
        {{name}}
        <div v-if='show'>div1</div>
        <div v-else>div2</div>
        <br>
        <div v-if="div3">div3</div>
        <!-- <button v-on:click="toggle">点击我</button> -->
    <button @click="toggle(2,$event)" >点击我</button>
        <button @click="add" >点击我累加</button>
        <br>
        <button @click="add1" >点击我控制div3</button>
        <br>
        <input type="text" v-model="inputValue">
        <br>
        {{inputValue}}
        <br>
        <input type="text" @input="input" :value="target">
        <br>
        {{target}}
    </div>
<script>
    let vm = new Vue({
        el:'#vue',
        data:{
            target:'zzzzzz',
            inputValue:'inputValue',
            div3:true,
            name:1111,
            obj:{
                a:111,
                name:'sa',
                age:33
            },
            age:'zsan',
            show:true,
            string:'<h1>你好</h1>'
        },
        methods: {
            input(e){
                this.target=e.target.value;
            },
            // toggle:()=>{
            //     console.log('我被点击了！');
            // }   
            toggle(num,e){
                console.log("我被再次点击了！",num,e);
            },
            add(){
                this.name+=1
            },
            add1(){
                this.div3=!this.div3;
            }
        }
    });
</script>
</body>
</html>